<div class="row">
  <div class="col-lg-8">
    <h1>New Group</h1>
    <div class="well bs-component">
      <%= form_for(@group, class: "form-horizontal") do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :name, class: "col-lg-4 control-label" %>
            <div class="col-lg-7">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label" >Add Account(s)</label>
            <div class="col-lg-7">
              <button>+</button>
            </div>
          </div>
          <%= f.fields_for :accounts do |accounts_form| %>
              <div class="form-group">
                <%= accounts_form.label :name, class: "col-lg-4 control-label" %>
                <div class="col-lg-7">
                  <%= accounts_form.text_field :name, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= accounts_form.label :access_token, class: "col-lg-4 control-label" %>
                <div class="col-lg-7">
                  <%= accounts_form.text_field :access_token, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= accounts_form.label :access_token_secret, class: "col-lg-4 control-label" %>
                <div class="col-lg-7">
                  <%= accounts_form.text_field :access_token_secret, class: "form-control" %>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <div class="col-lg-7 col-lg-offset-4">
              <%= f.submit %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>