<div class="row">
  <div class="col-lg-10">
    <div class="well bs-component">
      <h1>New Group</h1>
      <%= nested_form_for(@group, class: "form-horizontal") do |f| %>
        <fieldset>
            <div class="form-group">
              <%= f.label :name, class: "col-lg-3 control-label" %>
              <div class="col-lg-9">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
          <%= f.fields_for :accounts %>
          <p><%= f.link_to_add "", :accounts, class: "glyphicon glyphicon-plus btn btn-primary" %><strong>  add another account</strong></p>
          <!-- <div class="form-group">
            <div class="col-lg-11">
              <%#= f.link_to_add "+", :accounts %> add another account
              <span><button id="new-account-form", class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <strong>add another account</strong></span>
            </div>
          </div> -->
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>