<div class="row">
  <div class="col-md-6">
    <h1><%= @group.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Accounts</h2>
    <%= form_tag(new_account_path, method: "get", remote: true) do %>
      <%= hidden_field_tag 'group_id', @group.id %>
      <%= button_tag "Add Account", id: "new-account" %>
    <% end %>
    <ul id="accounts">
      <% @accounts.each do |account| %>
        <li><%= link_to account.name, account_path(account) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <!-- don't list members whose invitations are pending? -->
    <h2>Members</h2>
    <%= form_tag(new_invitation_path(@user), method: "get", remote: true) do %>
      <%= button_tag "Add User", id: "new-user" %>
    <% end %>
    <% @members.each do |member| %>
      <li>
        <%= member.name %>
        <% if member.memberships.find_by(group_id: @group.id).admin? %>
            (Admin)
        <% end %>
      </li>
    <% end %>
  </div>
</div>