<div id="intro">
  <div class="item background-cover">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h1><%= @group.name %></h1>
          <div class="col-md-6" id="accounts-container">
            <h2>Accounts</h2>
            <% if current_user.admin?(@group) %>
              <%= form_tag(new_account_path, method: "get", remote: true) do %>
                <%= hidden_field_tag 'group_id', @group.id %>
                <button id="new-account", class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <strong>add account</strong>
              <% end %>
            <% end %>
            <ul id="accounts" class="no-bullets">
              <% @accounts.each do |account| %>
                <%= render partial: 'account', locals: {account: account} %>
              <% end %>
            </ul>
          </div>
          <div class="col-md-6" id="members-container">
            <h2>Members</h2>
            <% if current_user.admin?(@group) %>
              <%= form_tag(new_invitation_path(@user), method: "get", remote: true) do %>
                <%= hidden_field_tag 'group_id', @group.id %>
                <button id="new-user", class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <strong>add member</strong>
              <% end %>
            <% end %>
            <ul id="members" class="no-bullets">
              <% @members.each do |member| %>
                <%= render partial: 'member', locals: {member: member} %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>