<div class="row">
  <div class="col-md-6">
    <h1><%= @group.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6" id="accounts-container">
    <h2>Accounts</h2>
    <%= form_tag(new_account_path, method: "get", remote: true) do %>
      <%= hidden_field_tag 'group_id', @group.id %>
      <span><button id="new-account", class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <strong>add account</strong></span>
    <% end %>
    <ul id="accounts">
      <% @accounts.each do |account| %>
        <li><%= link_to account.name, account_path(account) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6" id="members-container">
    <!-- don't list members whose invitations are pending? -->
    <h2>Members</h2>
    <%= form_tag(new_invitation_path(@user), method: "get", remote: true) do %>
      <%= hidden_field_tag 'group_id', @group.id %>
      <span><button id="new-user", class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> <strong>add member</strong></span>
    <% end %>
    <ul id="members">
      <% @members.each do |member| %>
        <li>
          <%= member.identifier %>
          <% if member.memberships.find_by(group_id: @group.id).admin? %>
              (Admin)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>