<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :remote => true} do |f| %>
  <%= devise_error_messages! %>
  <%= hidden_field_tag :group_id, @group.id %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form-group">
      <%= f.text_field field, placeholder: "Email", class: "form-control" %>
    </div>
  <% end -%>
  
  <div class="form-group">
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= button_tag "Cancel", id: "cancel-member", class: "btn btn-default" %>
  </div>
<% end %>