<%= form_for(@account, remote: true) do |f| %>
  <%= f.text_field :group_id, value: @group.id, hidden: true %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Twitter Username" %>
  </div>
  <div class="form-group">
    <%= f.text_field :application_token, class: "form-control", placeholder: "Application Token" %>
  </div>
  <div class="form-group">
    <%= f.text_field :application_token_secret, class: "form-control", placeholder: "Application Token Secret" %>
  </div>
  <div class="form-group">
    <%= f.text_field :access_token, class: "form-control", placeholder: "Access Token" %>
  </div>
  <div class="form-group">
    <%= f.text_field :access_token_secret, class: "form-control", placeholder: "Access Token Secret" %>
  </div>
  <div class="form-group">
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= button_tag "Cancel", id: "cancel-account", class: "btn btn-default" %>
  </div>
<% end %>
