  <script language="javascript" type="text/javascript">
function limitText(limitField, limitCount, limitNum) {
  if (limitField.value.length > limitNum) {
    limitField.value = limitField.value.substring(0, limitNum);
  } else {
    limitCount.value = limitNum - limitField.value.length;
  }
}
</script>

<h1><%= @account.name %></h1>

<br>
<br>
<br>
<div>
<%= form_tag(account_tweets_path(@account)) do %>
  <%= label_tag(:tweet, "Enter your tweet here") %>
  <br>
  <%= text_area_tag(:tweet, nil, {
    :placeholder => "hey",
    rows: 2,
    maxlength: 4,
    :class => 'cssclass'
    }) %>


  <br>
  <br>
  <%= submit_tag("Send Tweet") %>
<% end %>
</div>
Selector.new(string, [values ...]) => selector
