<h1><%= @account.name %></h1>

<div class="row">
<div class="col-md-6">
    <%= form_tag(account_tweets_path(@account)) do %>
     <%= label_tag(:tweet, "Enter your tweet here") %>
     <%= text_area_tag(:tweet, nil, class: "form-control", rows: 3, maxlength: 140) %>
     <%= submit_tag("Send Tweet", class: 'btn btn-default') %>
    <% end %>
    <p class="charsleft"></p>
  </div>

<div class="col-md-6 timeline">
    <div class="header"> <span><h3 class="title">Tweets</h3></span>
    </div>
    <% @recent_tweets.each do |tweet| %>
        <div class="tweet customizable-border">
            <div class="col-md-2 profile-image">
                <%= image_tag(tweet[:user][:profile_image_url], size: "48", class:"profile_icon") %>
            </div>
            <div class="col-md-9">
                <p><b><%=tweet[:user][:name]%></b></span>
                </p>
                <span><p class="actual_tweet">
                    <%=tweet.text %>
                </p>
            </div>
            <div class="col-md-1">
                <%= time_ago_in_words(tweet[:created_at]) %>
            </div>
        </div>
        <% end %>
    </div>
</div>
